body{
    margin:0px;
    padding: 0px;
    font-family: calibri;
}
*{
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.main{
    width:100%;
    height:100vh;
    background-image: url(../images/poduct\ bg.png);
    background-size: cover;
    background-position: top left;
    position: relative;
}
.logo{
    font-size: 30px;
    font-weight: bold;
    color: #5a76fd;
}
.logo img{
    height: 20px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 30px;
    background-color:#fff;
    box-shadow: 2px 2px 20px rgba(90,118,253,0.13);
    z-index: 1;
    width:100%;
    position: fixed;
    left: 0px;
    top: 0px;
}
nav ul{
    display: flex;
    margin:0px;
    padding: 0px;
}
nav ul li a{
    height:40px;
    line-height: 43px;
    margin: 8px;
    padding: 0px 22px;
    display: flex;
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: 400;
    color:#111;
    letter-spacing: 1px;
}
nav ul li a:hover{
    background-color: #5a76fd;
    color:#fff;
    box-shadow: 5px 10px 30px rgba(90,118,253,0.5);
    transition: all ease 0.2s;
}
.home-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    width:90%;

}
.home-img{
    width:500px;
    height:400px;
    margin:20px;
}
.home-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}
.home-text{
    width:500px;
    margin:20px;
}
.home-text h1{
    font-size: 3.5rem;
    line-height: 55px;
    color:#22252e;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 0px;
}
.home-text p{
    font-size: 1rem;
    color:#777474;
}
.main-login{
    width:120px;
    height:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5a76fd;
    color:#fff;
    box-shadow: 5px 10px 30px rgba(90,118,253,0.5);
    text-transform: uppercase;
}
.main-login:hover{
    background-color: #5a62fd;
    transition: all ease 0.3s;
}
.timing{
    position: absolute;
    left:20%;
    bottom: 10px;
    transform: translateX(-20%);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.office-time,
.office-number{
    margin: 0px 20px;
}
.office-time h3,
.office-number h3{
    font-weight: 700;
    color:#22252e;
    font-size: 1.6rem;
    margin: 0px;
}
.office-number p,
.office-time p{
    color:#777474;
    font-size: 1.1rem;
}
.office-time font,
.office-number font{
    color:#7b92fd;
    font-weight: 700;
}
.arrow{
    align-self: end;
    width:50%;
    border-right: 1px solid #5a76fd;
    height: 20%;
    margin-bottom:4em ;
    position: absolute;
    bottom: 5px;
    right: 70px;
    animation: arrow-animation ease 1.5s;

}
.arrow::after{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 11px 11px 0px 11px;
    border-color: #5a76fd transparent transparent transparent;
    right: -0.7em;
    bottom: -2px;
}
.scroll{
    position: absolute;
    bottom: 20px;
    right:55px;
    font-weight: 600;
}
@keyframes arrow-animation{
    0%{
        bottom: 70px;
        opacity: 0.2;
    }
    100%{
        bottom: 5px;
        opacity: 1;
    }
}
.services{
    background-image:url("../images/poduct\ bg.png");
    background-size: 1000px;
    background-position: center;
}
.services-heading{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.services-heading h2{
    line-height: 55px;
    font-size: 2.2rem;
    color:#22252e;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 0px;
}
.services-heading p{
    font-size: 1rem;
    color:#777474;
    width:50%;
}

footer{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5%;
    border-top: 1px solid rgba(167,167,167,0.2);
}
footer a,
footer p{
    color:#5e5e5e;
}
nav .menu-btn{
    display: none;
}
@media(max-width:1100px){
    nav{
        justify-content: space-between;
        height: 65px;
    }
    .menu{
        display: none;
        position: absolute;
        top: 65px;
        left: 0px;
        background-color: #fff;
        border-bottom: 4px solid #5a76fd;
        width:100%;
    }
    .menu li{
        width:100%;
    }
    nav .menu li a{
        width:100%;
        height: 40px;
        justify-content: center;
        align-items: center;
        margin:0px;
        padding: 25px;
        border:1px solid rgba(38,38,38,0.03);
    }
    nav .menu-icon{
        cursor: pointer;
        float: right;
        padding: 28px 20px;
        position: relative;
        user-select: none;
    }
    nav .menu-icon .nav-icon{
        background-color: #333333;
        display: block;
        height: 2px;
        position: relative;
        transition: background 0.2s ease-out;
        width:18px;
    }
    nav .menu-icon .nav-icon:before,
    nav .menu-icon .nav-icon:after{
        background: #333333;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all ease-out 0.2s;
        width:100%;
    }
    nav .menu-icon .nav-icon:before{
        top: 5px;
    }
    nav .menu-icon .nav-icon:after{
        top:-5px;
    }
    nav .menu-btn:checked ~ .menu-icon .nav-icon{
        background: transparent;
    }
    nav .menu-btn:checked ~ .menu-icon .nav-icon:before{
        transform: rotate(-45deg);
        top: 0;
    }
    nav .menu-btn:checked ~ .menu-icon .nav-icon:after{
        transform: rotate(45deg);
        top: 0;
    }
    nav .menu-btn{
        display: none;
    }
    nav .menu-btn:checked ~ .menu{
        display: block;
    }
    .home-img{
        display: none;
    }
    .home-text{
        width:100%;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 45vh;
        background-color: rgba(33,33,33,0.35);
        margin: 0px;
    }
    .home-content{
        width:100%;
        margin:0px;
        position: static;
        transform: translate(0px,70px);
        background-image: url("../images/bg2.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top right;
        box-shadow: 2px 2px 30px rgba(90,118,253,0.15);
    }
    .home-text h1{
        color:#fff;
        padding: 0px 20px;
        font-size: 2.5rem;
        border: 1px solid #fff;
    }
    .home-text p{
        color:rgba(255,255,255,0.85);
        margin: 10px 0px 20px 0px;
        width:50%;
    }
    .arrow{
        height: 70px;
    }
   .main{
       background-size: 500px;;
   }
   .timing,.arrow,.scroll{
       bottom: 40px;
   }
}
@media(max-width:720px){
    .home-text p{
        width:70%;
        text-align: center;
    }
    .office-number,
    .office-time{
        flex-grow: 1;
        margin: 10px;
    }
    .office-number h3,
    .office-time h3{
        font-size: 1rem;
    }
    .office-time p,
    .office-number p{
        font-size: 0.8rem;
    }
    .arrow,.scroll{
        display: none;
    }
    .home-content h1{
        font-size: 1.9rem;
        padding: 10px 10px;
        line-height: 30px;
    }
    .timing{
        width: 100%;
        flex-wrap: wrap;
       margin: 0px;
        padding: 0px 20px;
    }
    .services-heading{
        margin:20px;

    }
    .services-heading h2{
        font-size: 1.7rem;
        line-height: 40px;
    }
    .services-heading p{
        width:100%;
    }
    .box{
        width:100%;
        margin: 20px 0px !important;
        padding: 0px 20px;
        flex-grow: 1;
    }
    .box img{
        height: 100px;
        width:100%;
        object-fit: contain;
    }
    footer p,a{
        font-size: 0.9rem;
        text-align: center;
    }
    footer{
        padding: 0px 10px;
    }
}


/* CSS Document */

a{
	text-decoration:none;
}
.social a{
	padding: 20px;
	color:#5a76fd;
	font-size:1.1rem;
}
#contact{
    margin-top: 40px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	display: flex;
	align-items: center;
}
.social{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #FFFFFF;
	box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
}
.social a:hover{
    background-color: #5a76fd;
	color:#fff;
	transition: all ease 0.3s;
}
.contact-box{
	background-color:#5a76fd;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 30px 30px;
	box-shadow: 2px 0px 30px rgba(0,0,0,0.1);
}
.c-heading h1{
	font-family: Roboto;
	color: #e7eef3;
	font-size: 2.5rem;
	font-weight: lighter;
	margin: 0px;
	padding: 0px;
}
.c-heading p{
	font-family: Roboto;
	color:#e7eef3;
	font-size: 0.8rem;
	font-weight: lighter;
	margin: 0px;
	padding: 0px;
	text-align: center;
}
.c-inputs{
	margin: 15px 0px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.c-inputs input{
	width:250px;
	height: 45px;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid rgba(255,255,255,1);
	outline: none;
	margin: 10px 0px;
	padding: 10px;
	box-sizing: border-box;
	color: #f4f4f4;
	display: flex;
}
.c-inputs textarea{
	width:250px !important;
	height: 200px !important;
	outline: none;
	background-color: transparent;
	border:1px solid rgba(255,255,255,1);
	color: #f4f4f4;
	padding: 10px;
	font-size: 1.2rem;
	box-sizing: border-box;
}
.c-inputs button{
	width:200px;
	height: 40px;
	background-color: #FFFFFF;
	border: none;
	outline: none;
	margin-top: 20px;
	border-radius: 10px;
	box-shadow: 2px 2px 30px rgba(255,255,255,0.1);
	letter-spacing: 1px;
    font-weight: bold;
    color: #5a62fd;
}
.c-inputs button:hover{
    color: #5a76fd;
    background-color: #fff;
    box-shadow: 2px 2px 30px rgb(0,140,255,1);
    border: 2px solid #fff;
    border-radius: 10px;
}
.c-inputs input:focus{
	border-bottom: 1px solid rgba(252,252,252,1.00);
	transition: all ease 0.5s;
}
.c-inputs textarea:focus{
	border: none;
	border-bottom: 1px solid rgba(255,255,255,1.00);
	transition: all ease 0.5s;
	background-color: rgba(0,0,0,0.1);
}
.c-inputs button:active{
	transform: scale(1.02);
}
.map{
	filter: grayscale(0.2);
	box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
	border: 2px solid #FFFFFF;
}
@media(max-width:1100px){
	.map{
		display: none;
	}
}
@media(max-width:450px){
	.social{
		display: none;
	}
	.contact-box{
		width: 100%;
		height: 100vh;
		box-sizing: border-box;
	}
	#contact{
		position: static;
		transform: translate(0,0);
		width:100%;
		height: 100vh;
		box-sizing: border-box;
	}
	.c-heading h1{
		font-size: 2.2rem;
		text-align: center;
	}
	
}

.card-motivasion{
    background-color: #fff;
	padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
	margin-top: 80px;
	height: 100vh;
	width: 101vw;
	align-items: center;
}

.card{
	height: 400px;
	width: 31%;
	background-color: #fff;
	position: relative;
	display: flex;
	justify-content: center;
	text-align: center;
	border-radius: 3px;
    overflow: hidden;
    margin: 10px 10px;
    float: left;
}
.fa{
	color: rgba(255,255,255,0.1);
	position: absolute;
	font-size: 120px;
	top:10px;
}
.text{
	font-size: 20px;
	position: relative;
	margin: 145px 12px 0 12px;
	color: rgba(0,0,0,0.1);
	line-height: 30px;
	font-family: 'Work Sans',sans-serif;
}
.author{
	position: absolute;
	bottom: 50px;
	right: 15px;
	font-size: 23px;
	font-family: 'Rubik',sans-serif;
	color: rgba(255,255,255,0.05);
}
.card:hover{
	box-shadow: 0 10px 10px 2px rgba(0,0,0,0.1);
	transform: translateY(-5px);
}
.card:hover .fa1{
	background:linear-gradient(45deg,#f7bc01,#d56741);
	-webkit-text-fill-color:transparent;
	-webkit-background-clip:text;
}
.card:hover .fa2{
	background:linear-gradient(45deg,#27d853,#35c9ff);
	-webkit-text-fill-color:transparent;
	-webkit-background-clip:text;
}
.card:hover .text{
	color: #000;
}
.card:hover .a1{
	color: #d2902d;
}
.card:hover .a2{
	color: #39c65c;
}

  

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

  *{
      padding: 0;
      margin: 0;
      box-sizing: border-box;
  }
  body{
      font-family: 'Poppins', sans-serif;
  }
  .about-wrapper{
      margin-top: 80px;
      height: 100vh;
  }
  .about-left{
      background: #5a76fd;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
  }
  .about-left-content > div{
      background: #5a76fd;
      padding: 4rem 4rem 2.5rem 5rem;
      text-align: center;
  }
  .about-left-content{
      box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
      -webkit-box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
      -moz-box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
  }
  .about-img img{
      display: block;
      width: 200px;
      height: 200px;
  }
  .about-img{
      width: 200px;
      height: 200px;
      overflow: hidden;
      border-radius: 50%;
      transition: all 0.5s ease-in-out;
  }
  .shadow{
      margin-left: auto;
      margin-right: auto;
      border-radius: 50%;
      width: 200px;
      height: 200px;
      position: relative;
      cursor: pointer;
  }
  .shadow::after{
      content: "";
      position: absolute;
      background: rgba(0, 0, 0, 0.4);
      left: 50%;
      transform: translateX(-50%);
      bottom: -20px;
      height: 7px;
      width: 50px;
      filter: blur(3px);
      -webkit-filter: blur(3px);
      opacity: 0;
      transition: all 0.6s ease;
  }
  .shadow:hover .about-img{
      transform: translateY(-10px);
  }
  .shadow:hover::after{
      opacity: 1;
  }
  .about-left-content h2{
      font-size: 2rem;
      margin: 2.2rem 0 0.6rem 0;
      line-height: 1.2;
      padding-bottom: 1rem;
      border-bottom: 2px solid #edffec;
  }
  .about-left-content h3{
      text-transform: uppercase;
      font-weight: 300;
      letter-spacing: 5px;
      margin-top: 1.2rem;
  }
  .icons{
      background: #fff;
      display: flex;
      justify-content: center;
      padding: 0.8rem 0;
  }
  .icons li{
      list-style-type: none;
      background: #5a76fd;
      color: #fff;
      width: 40px;
      height: 40px;
      margin: 0 0.5rem;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.2rem;
      cursor: pointer;
      transition: all 0.5s ease-in-out;
  }
  .icons li:hover{
      background: #edffec;
      color: #000;
  }
  .about-right{
      background: #fff;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0 5rem;
      text-align: center;
  }
  .about-right h1{
      font-size: 7rem;
      text-transform: uppercase;
  }
  .about-right h1 span{
      color: #5a76fd;
  }
  .about-right h2{
      font-weight: 600;
  }
  .about-btns{
      display: flex;
      margin: 2rem 0;
  }
  .btn{
      border: none;
      font-size: 0.9rem;
      text-transform: uppercase;
      border: 2px solid #000;
      border-radius: 20px;
      padding: 0.55rem 0;
      width: 130px;
      font-weight: 600;
      background: transparent;
      margin: 0 0.5rem;
      cursor: pointer;
  }
  .btn.btn-pink{
      background: #5a76fd;
      color: #fff;
      border-color: #5a76fd;
      transition: all 0.5s ease-in-out;
  }
  .btn.btn-pink:hover{
      background: transparent;
      border-color: #5a76fd;
      color: #000;
  }
  .btn.btn-white{
      transition: all 0.5s ease-in-out;
  }
  .btn.btn-white:hover{
      background: #5a76fd;
      border-color: #5a76fd;
      color: #fff;
  }
  .about-para p{
      font-weight: 300;
      padding: 0.5rem;
      opacity: 0.8;
  }
  
  @media screen and (min-width: 992px){
      .about-wrapper{
          display: grid;
          grid-template-columns: repeat(2, 1fr);
      }
      .about-left{
          position: relative;
      }
      .about-left-content{
          position: absolute;
          right: -50px;
      }
  }